@model Miam.ViewModels.MenuFormViewModel
@using Miam.Shared

@{
    ViewBag.Title = "Menu " + Model.Menu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ValidationPartial")


<div class="row">
    <h2 class="col-sm-8">@ViewBag.Title</h2>
    <p class="col-sm-4 btn-heading-wrap">
        @Html.ActionLink("Modifier le menu", "Edit", "Menu", new { id = Model.Menu.Id }, new { @class = "btn btn-primary" })
    </p>
</div>

<p>
    <em>@Html.DisplayFor(model => model.Menu.Description)</em>
</p>

<div class="row">
    <table border="1" class="table">
        <thead>
            <tr>
                <th></th>
                <th class="text-center text-capitalize">Semaine 1</th>
                <th class="text-center text-capitalize">Semaine 2</th>
            </tr>
        </thead>
        <tbody>
        @{int CurrentId = 0;}
        @{bool IsMealExisted = false;}
        @{int CurrentWeekNumber = 0;}
        @{DateTime CurrentDate = DateTime.Today; }
        @{IEnumerable<Miam.Models.MenuItem> ListMenuItemsByDay;}

        @foreach (DayOfWeekEnum day in Enum.GetValues(typeof(DayOfWeekEnum)))
        {
            <tr>
                <th class="text-center text-capitalize">@day.DisplayName() </th>

                @for (int i = 0 ; i < 2 ; i++)
                {
                    // 1ère semaine
                    ListMenuItemsByDay = Model.ListMenuItemsWeek1ByDay[(DayOfWeek)day];
                    
                    // 2ème semaine
                    if (i == 1)
                    {
                        ListMenuItemsByDay = Model.ListMenuItemsWeek2ByDay[(DayOfWeek)day];
                        IsMealExisted = false;
                    }

                    <td padding="5px;">
                        @foreach (var menuItem in ListMenuItemsByDay)
                        {
                            <div>
                                @if (menuItem.Meal == null)
                                {
                                    CurrentId = menuItem.Id;
                                    IsMealExisted = false;
                                }
                                else
                                {
                                    <div class="bg-menuitem">
                                        <h3>@*@menuItem.Date.ToString("dddd d MMMM")*@</h3>
                                        <h4>
                                            @Html.ActionLink(" ", "Edit", "MenuItem", new { id = menuItem.Id }, new { @class = "glyphicon glyphicon-pencil", @title = "Modifier" })
                                            @Html.ActionLink(" ", "Delete", "MenuItem", new { id = menuItem.Id }, new { @class = "glyphicon glyphicon-remove", @title = "Supprimer" })
                                            @menuItem.MealType.DisplayName()
                                        </h4>
                                        <p><strong>@menuItem.Meal.Name</strong></p>
                                        <ul>
                                            @foreach (var recipe in menuItem.Meal.RecipeCollection)
                                            {
                                                <li>@recipe.Name</li>
                                            }
                                        </ul>
                                    </div>

                                    CurrentId = menuItem.Menu.Id;
                                    IsMealExisted = true;
                                    CurrentWeekNumber = menuItem.WeekNumber;
                                    CurrentDate = menuItem.Date;
                                }
                            </div>
                        }
                        
                        @if (IsMealExisted)
                        {
                            @Html.ActionLink("Ajouter un repas", "AddAnotherMeal", "MenuItem", new { menuId = CurrentId, weekNumber = CurrentWeekNumber, date = CurrentDate }, new { @class = "btn btn-warning btn-sm" })
                        }
                        else
                        {
                            <p>Aucun repas</p>
                            @Html.ActionLink("Ajouter un repas", "AddFirstMeal", "MenuItem", new { menuItemId = CurrentId }, new { @class = "btn btn-warning btn-sm" })
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>   
</div>


