@model IEnumerable<Miam.Models.Meal>

@{
    ViewBag.Title = "Repas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau repas 4", "Create") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NbServings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipesCollection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentOfDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NbServings)
        </td>
        <td>
            <ul>
                @foreach (var recipe in item.RecipesCollection)
                {
                    <li>@recipe.Name</li>
                }
            </ul>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfWeek)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MomentOfDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
