@model Miam.Models.IngredientIndex
@{
    ViewBag.Title = "Détail de l'ingrédient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="col-sm-8">@ViewBag.Title</h2>
    <p class="col-sm-4 btn-heading-wrap">
        @Html.ActionLink("Modifier", "Edit", "Ingredient", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </p>
</div>

<dl class="dl-horizontal">
    <dt>@Html.LabelFor(m => m.Name)</dt>
    <dd>@Model.Name</dd>
    <dt>@Html.LabelFor(m => m.Description)</dt>
    <dd>@Model.Description</dd>
</dl>


