@model IEnumerable<Miam.Models.IngredientIndex>

@{
    ViewBag.Title = "Index des ingrédients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ValidationPartial")


<div class="row">
    <h2 class="col-sm-8">@ViewBag.Title</h2>
    <p class="col-sm-4 btn-heading-wrap">
        @Html.ActionLink("Nouvel ingrédient", "New", null, new { @class = "btn btn-primary" })
    </p>
</div>


<table class="table table-hover">
    <thead class="thead-default p-3 mb-2 bg-dark text-white">
        <tr class="row">
            <th class="col-sm-3 ">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-sm-7 ">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2 text-right">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row action"  actionName="Detail" controllerName="Ingredient" elementId="@item.Id">

                <td class="col-sm-3 ">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-sm-7 ">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-sm-2 text-right ">
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove", @title = "Supprimer" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/actionRow.miam.js") 
}
