@model Miam.ViewModels.RecipeFormViewModel
@{
    ViewBag.Title = "Créer une nouvelle recette";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@if (ViewBag.MessageSuccess != null)
{
    <p>@ViewBag.MessageSuccess</p>
}
 

<div class="bg-gray container-form">
    @using (Html.BeginForm("AddOrUpdate", "Recipe", FormMethod.Post, new { @id = "create-recipe" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.Name)
        @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.NbServing)
        @Html.TextBoxFor(m => m.Recipe.NbServing, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.Instructions)
        @Html.TextAreaFor(m => m.Recipe.Instructions, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.PreparationTime)
        @Html.TextBoxFor(m => m.Recipe.PreparationTime, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.CookingTime)
        @Html.TextBoxFor(m => m.Recipe.CookingTime, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Recipe.Level)
        @Html.EnumDropDownListFor(m => m.Recipe.Level, new { @class = "form-control" })
        @*@Html.TextBoxFor(m => m.Recipe.Level, new { @class = "form-control" })*@
    </div>

    <div class="group-form text-right">
        @if (Model.Recipe.Id > 0)
        {
            // Edit mode, back to detail view
            @Html.ActionLink("Annuler", "Detail", "Recipe", new { id = Model.Recipe.Id }, new { @class = "btn btn-back" })
        }
        else
        {
            // Add mode, back to list view
            @Html.ActionLink("Annuler", "Index", "Recipe", null, new { @class = "btn btn-back" })
        }
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </div>
        @Html.HiddenFor(m => m.Recipe.Id)
}
</div>

@*<fieldset>
    <legend>Ajouter un ingrédient</legend>
    Html.Partial("IngredientRecipeFormPartial", Model);
    Html.Partial("IngredientRecipeFormPartial", model);
</fieldset>*@
